@using KoruCosmetica.Models.ViewModel
@model IEnumerable<ClientesTurnos>

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Clientes y Turnos</title>
    <link rel="stylesheet" type="text/css" href="~/css/site.css" />
</head>
<body>
    <div class="container mt-5" id="form">
        <h2 class="text-center mb-4">Turnos de @User.Claims.FirstOrDefault(c => c.Type == "nombre")?.Value</h2>

        <table class="table justify-content-center">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Servicio</th>
                    <th>Cancelar Turno</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Nombre</td>
                        <td>@item.Apellido</td>
                        <td>@item.Fecha.ToShortDateString()</td>
                        <td>@item.Hora.ToString(@"HH\:mm")</td>
                        <td>@item.Servicio</td>
                        <td>
                            <form asp-controller="TurnosHorarios" asp-action="CancelarTurno" method="post" onsubmit="return confirm('¿Está seguro que desea cancelar el turno?');">
                                <input type="hidden" name="id" value="@item.ID" />
                                <button type="submit" class="btn btn-danger" aria-label="Close" title="Cancelar" data-toggle="tooltip" data-placement="top" title="Cancelar turno">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip(); // Inicializa los tooltips
        });
    </script>

</body>
</html>
